<!-- Duoshuo Comment BEGIN -->
<div id="comments" class="container">
  <div class="ds-thread" {% if page.id %}data-thread-key="{{ page.id }}"{% endif %}  data-title="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
</div>
<script>
  var duoshuoQuery = {short_name: "{{ site.duoshuo_username }}"};
  (function () {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';
    ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  $("#ds-sync-checkbox").click();
</script>
<!-- Duoshuo Comment END -->
